<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="imagetoolbar" content="no">
  <meta name="msthemecompatible" content="no">
  <meta name="cleartype" content="on">
  <meta name="HandheldFriendly" content="True">
  <meta name="format-detection" content="telephone=no">
  <meta name="format-detection" content="address=no">
  <meta name="google" value="notranslate">
  <meta name="theme-color" content="#ffffff">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <meta name="application-name" content="">
  <meta name="msapplication-tooltip" content="">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="theme-color" content="#ffffff">
  <meta name="msapplication-TileImage" content="/assets/ecomaral/images/favicon/ms-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/ecomaral/images/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/ecomaral/images/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/ecomaral/images/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/ecomaral/images/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/ecomaral/images/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/ecomaral/images/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/ecomaral/images/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/ecomaral/images/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/ecomaral/images/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/assets/ecomaral/images/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/ecomaral/images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/assets/ecomaral/images/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/ecomaral/images/favicon/favicon-16x16.png">
  <link rel="shortcut icon" href="/assets/ecomaral/images/favicon/favicon.ico">
  <link rel="manifest" href="/assets/ecomaral/images/favicon/manifest.json">
  <link href="/assets/ecomaral/styles/style.min.css" rel="stylesheet">
  <title>EcoMaral</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script>
    var addScript = function(url) {
      var script = document.createElement('script');
      script.src = url;
      document.body.appendChild(script);
    }
    if (window.outerWidth >= 768) {
      window.addEventListener('DOMContentLoaded', function() {
        addScript('https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.min.js');
        addScript('https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.extensions.min.js');
        addScript('assets/ecomaral/scripts/fullpage.min.js');
      });
    }
  </script>
</head>

<body class="page grid">
  <div class="page__wrapper js-grid fp-noscroll" id="js-wrapper">
    <header class="header grid__section" id="js-header">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="header__container">
          <div class="header__description">
            <div class="grid__title grid__title_lg">
              <div class="title title_lg">New nature bio product</div>
            </div>
            <div class="grid__text grid__text_indent">
              <div class="text text_indent text_white text_uppercase">helps to improve</div>
            </div>
            <div class="grid__title grid__title_md">
              <div class="title title_md title_green">1.Nervous system</div>
            </div>
            <div class="grid__subtitle grid__subtitle_lg">
              <div class="subtitle">2.increased testosterone levels</div>
            </div>
            <div class="grid__text grid__text_flex header__bottom_mobile">
              <div class="header__image header__image_mobile"></div>
              <div class="header__bottom-text">
                <div class="grid__text-column">
                  <div class="text text_indent text_white text_uppercase">other properties</div>
                </div>
                <div class="grid__text-column">
                  <div class="text text_medium text_uppercase">3. Antioxidant</div>
                  <div class="text text_medium text_uppercase">4. Regeneration and quick recovery</div>
                  <div class="text text_medium text_uppercase">5. Increased immunity</div>
                  <div class="text text_medium text_uppercase">6. Increased physical endurance</div>
                  <div class="text text_medium text_uppercase">7. Anti-inflammatory effect</div>
                </div>
              </div>
            </div>
          </div>
          <div class="header__images">
            <div class="header__image header__image_medium"></div>
            <div class="header__image header__image_small"></div>
          </div>
        </div>
      </div>
      <div class="header__button">
        <button class="button button_arrow" type="button" id="js-moveDown"></button>
      </div>
    </header>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify container_flex_vertical_center">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">1.NErvous system</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="column column_bg column_bg_1 js-compare">
            <div class="column__before column__before_1 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column grid__column_order_2">
          <div class="column column_bg column_bg_2 js-compare">
            <div class="column__before column__before_2 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
        <div class="grid__column grid__column_order_1">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">2.increased testosterone levels</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">3.Antioxidant</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="column column_bg column_bg_3 js-compare">
            <div class="column__before column__before_3 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column grid__column_order_2">
          <div class="column column_bg column_bg_4 js-compare">
            <div class="column__before column__before_4 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
        <div class="grid__column grid__column_order_1">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">4.Regeneration and quick recovery</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">5.Increased immunity</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="column column_bg column_bg_5 js-compare">
            <div class="column__before column__before_5 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column grid__column_order_2">
          <div class="column column_bg column_bg_6 js-compare">
            <div class="column__before column__before_6 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
        <div class="grid__column grid__column_order_1">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">6.Increase physical endurance</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">7.Anti - inflammatory effect</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Accumulation of dopamine</div>
            </div>
            <div class="grid__text grid__text_column grid__text_column_left">
              <div class="text">Dopamine is one of the chemical factors of internal reinforcement (PEF) and serves as an important part of the "reward system" of the brain, because it causes a sense of pleasure (or satisfaction), which affects the
                processes
                of motivation and learning</div>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="column column_bg column_bg_7 js-compare">
            <div class="column__before column__before_7 js-compare-before">
              <div class="column__text">Before</div>
              <div class="column__boxing js-thumb"></div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column column_bg column_bg_orange">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title title_right">1 YEAR “No Questions Asked”</div>
            </div>
            <div class="grid__text grid__text_flex">
              <div class="grid__text_box">
                <div class="text text_white text_size_md">We’re so convinced that you’re going to love T-Plexx that we’re giving you a full year to experience how much it can really help you. We’re happy to extend our guarantee this far because we
                  are 100% certain you’re going
                  to be amazed and delighted with how effective T-Plexx really is!</div>
              </div>
              <div class="grid__text_box">
                <div class="text text_white text_size_md">So if, with a full year after your order today, you decide that T-Plexx isn’t right for you, just send back any unopened bottles and we’ll give you an immediate refund of the price you paid
                  for it (the only thing we don’t
                  refund is the shipping cost… HOWEVER, today we have FREE US shipping and very low international shipping)!</div>
              </div>
            </div>
          </div>
        </div>
        <div class="grid__column column_bg column_bg_guarantee">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__guarantee">
              <img src="/assets/ecomaral/images/guarantee.png">
            </div>
            <div class="title">100% Satisfaction Guarantee</div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section section_bg section_bg_watch">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">Reserve Your Supply Now Before Our</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Limited In-Stock</div>
              <div class="subtitle">Supply is Spoken For...</div>
            </div>
            <div class="grid__button">
              <a class="button button_large button_red" href="#">YES i want Ecomaral now</a>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__text">
              <div class="text text_white">One last word of caution: Like all the cutting edge supplements we’ve helped develop and bring to market, this first batch of T-Plexx will sell out. The question is not if, but when.</div>
            </div>
            <div class="grid__text">
              <div class="text text_white">Here at Organixx, we take great pride in providing you only the most effective, best-in-class supplements from the purest ingredients and most beneficial processes available… at the fairest possible price.
              </div>
            </div>
            <div class="grid__text">
              <div class="text text_white">As such, however, because of the painstaking processes involved and the relative small batches to ensure top quality, our supplements do tend to sell out fast.</div>
            </div>
            <div class="grid__text">
              <div class="text text_white">And because T-Plexx is truly one essential supplement for men over 40, this is sure to be the case with T-Plexx too.</div>
            </div>
            <div class="grid__text">
              <div class="text text_white">So if you’d like to get this revolutionary formula to help build and maintain your body’s own personal “testosterone factory,” then click the button below to get your supply now before we run out…</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content">
        <div class="grid__column column_bg column_bg_window">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title">Frequently Asked questions</div>
            </div>
            <div class="grid__subtitle">
              <div class="subtitle">Limited In-Stock </div>
              <div class="subtitle">Supply is Spoken For...</div>
            </div>
          </div>
        </div>
        <div class="grid__column">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__text">
              <div class="text text_indent text_white text_uppercase">How is T-Plexx taken?</div>
              <div class="text">T-Plexx is administered in convenient capsule form, with no artificial fillers or binders.</div>
            </div>
            <div class="grid__text">
              <div class="text text_indent text_white text_uppercase">How much should I take daily?</div>
              <div class="text">Suggested use for is 2 capsules daily, with or without food. There are 60 capsules in each bottle, so one bottle can last for 30 days.</div>
            </div>
            <div class="grid__text">
              <div class="text">Advanced use is 4 capsules daily. If you follow this advanced dosing, one bottle will last for 15 days; two bottles will last for one month.</div>
            </div>
            <div class="grid__text">
              <div class="text text_indent text_white text_uppercase">What if I buy multiple bottles and change my mind?</div>
              <div class="text">All customers are protected by our 1 year “No Questions Asked” guarantee. If for any odd reason you find T-Plexx isn’t for you, just send back any unopened bottles within one full year and we will issue you a prompt,
                hassle-free
                refund for the price you paid for all the bottles</div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="grid__section section_bg section_bg_man">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content grid__content_padding_bottom">
        <div class="grid__column grid__column_image_left">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__title">
              <div class="title title_lg title_right">What benefits</div>
            </div>
            <div class="subtitle subtitle_right">will you </div>
            <div class="subtitle subtitle_right">experience while </div>
            <div class="subtitle subtitle_right">taking ECOMARAL?</div>
          </div>
        </div>
        <div class="grid__column grid__column_image_right">
          <div class="container container_flex container_flex_column container_flex_justify container_flex_vertical_center container_xs">
            <div class="grid__text">
              <div class="text text_indent text_uppercase">helps to improve</div>
              <div class="text text_white text_uppercase">Nervous system</div>
            </div>
            <div class="grid__text">
              <div class="text text_indent text_uppercase">stimulates</div>
              <div class="text text_white text_uppercase">increased testosterone levels</div>
            </div>
            <div class="grid__text">
              <div class="text text_indent text_uppercase">and other properties</div>
              <div class="text text_white text_uppercase">Antioxidant, Regeneration and quick recovery, Increased immunity, Increased physical endurance, Anti-inflammatory effect</div>
            </div>
          </div>
        </div>
        <div class="grid__image">
          <div class="boxing"></div>
        </div>
        <div class="grid__footer">
          <div class="grid__button grid__button_auto">
            <a class="button button_large button_red" href="#">YES i want Ecomaral now</a>
          </div>
        </div>
      </div>
    </section>
    <footer class="footer grid__section" id="js-footer">
      <div class="grid__header">
        <div class="container_flex container_flex_justify">
          <div class="grid__header-logo">
            <a class="logo" href="javascript:void(0)">
              <div class="logo__text">EcoMaral</div>
              <div class="logo__subtext">for Men</div>
            </a>
          </div>
          <div class="grid__header-button">
            <a class="button button_common button_red" href="#">Yes i Want</a>
          </div>
        </div>
      </div>
      <div class="grid__content grid__content_no_flex">
        <div class="container container_flex container_flex_column container_flex_center container_flex_vertical_center footer__container container_xs container_xs_mobile container_xs_mobile_top">
          <div class="footer__row">
            <a class="link" href="#">Returns Policy</a>
          </div>
          <div class="footer__row">
            <span class="text text_size_md">Disclaimer: </span>
            <span class="text text_white text_size_md">Statements on this website have not been evaluated by the Food and Drug Administration. Products are not intended to diagnose, treat, cure or prevent any disease. If you are pregnant, nursing,
              taking medication, or have a medical
              condition, consult your physician before using our products.</span>
          </div>
          <div class="footer__row">
            <span class="text text_white text_size_md">Not intended for children.</span>
          </div>
          <div class="footer__row">
            <span class="text text_white text_size_md">The information provided on this site is for informational purposes only and is not intended as a substitute for advice from your physician or other health care professional or any information
              contained on or in any product label
              or packaging. You should not use the information on this site for diagnosis or treatment of any health problem or for prescription of any medication or other treatment. Always consult with a healthcare professional before starting
              any diet, exercise or supplementation program, before taking any medication, or if you have or suspect you might have a health problem. You should not stop taking any medication without first consulting your physician.</span>
          </div>
          <div class="footer__row">
            <span class="text text_white text_size_md">As individuals differ, so will results. Organixx distributes a product line made with natural ingredients. Always check with your doctor for risks associated with dietary supplements and your
              specific health conditions and/or allergies.</span>
          </div>
          <div class="footer__row">
            <span class="text text_size_md">Resale: </span>
            <span class="text text_white text_size_md">Products are not allowed to be resold without prior written consent.</span>
          </div>
          <div class="footer__row">
            <span class="text text_size_md">Customs:</span>
            <span class="text text_white text_size_md">International shipments may incur additional import duties and fees. Organixx is not responsible for any additional charges incurred. Please contact your local customs office for current policies
              and procedures</span>
          </div>
          <div class="footer__row">
            <div class="text text_size_md">Copyright © 2017. Organixx 297 Kingsbury Grade, Suite 1043, Mail Box 4470 Stateline, NV 89449-4470</div>
          </div>
        </div>
      </div>
    </footer>
  </div>
  <script src="assets/ecomaral/scripts/app.min.js"></script>
</body>

</html>
