<h1>Hello World!</h1>
<div>
  <% @landings.each do |path| %>
    <div><a class="link" href=<%= path %>><%= path %></a></div>
  <% end %>
</div>
<br>
<div>
  <% @projects.each do |path| %>
    <div><a class="link" href=<%= path %>><%= path %></a></div>
  <% end %>
</div>
