<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="format-detection" content="telephone=no">
  <title>Мастер с 10 летним опытом! Лучшие цены на рынке!Доставка по России и странам СНГ</title>
  <link rel="shortcut icon" href="/assets/shoes/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/assets/shoes/styles/style.css">
  <link rel="stylesheet" href="/assets/shoes/styles/font.css">
  <link rel="stylesheet" href="/assets/shoes/styles/jquery.fancybox.css">
  <link rel="stylesheet" href="/assets/shoes/styles/jquery.bxslider.css">
</head>

<body>

  <div id="wr-scrollmenu">
    <div id="scrollmenu">
      <ul>
        <li><span class="fixed header_left"><img src="/assets/shoes/images/logo.png" height="45"></span></li>
        <li><a class="anch" href="#src1">ОБУВЬ</a></li>
        <li><a class="anch" href="#src2">ПРЕИМУЩЕСТВА</a></li>
        <li><a class="anch" href="#src3">ПРОЦЕСС ЗАКАЗА</a></li>
        <li><a class="anch" href="#src4">СНЯТИЕ МЕРОК</a></li>
        <li class="tec last">
          <div class="contact_box fixed">
            <span class="even fixed">Есть вопросы? Звоните:</span>
            <span class="odsd fixed">8(922)782-80-31</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="main-frame" id="top">
    <div class="content">
      <div class="box">
        <header>
          <div class="logo-col">
            <img src="/assets/shoes/images/logo.png" width="200" alt="">
          </div>

          <div class="prom-col">
            Индвивидуальный пошив обуви <br>Доставка по России
          </div>

          <div class="contact-col">
            <span class="contact-phone">8-922-782-80-31</span>
            <span class="contact-line1">Часы работы: пн-вс 9:00 – 21:00</span>
            <a href="#form" name="modal" data-formname="Заказать бесплатный звонок" data-buttonname="Заказать" class="header-call-btn">Заказать звонок</a>
          </div>
        </header>

        <div class="row center">
          <h1>Обувь премиум-класса, изготовленная по вашим меркам</h1>
          <span class="main-h-after">Такая пара будет только у вас</span>
        </div>

        <div class="row">
          <div class="mini-about-us">
            <a href="#src4" class="h-sc anch">Технология удаленной примерки</a><br>
            Срок изготовления от 7 дней
            <br>Гарантия на пару: 15 месяцев
            <br>Бесплатная доставка до двери
            <br>Цвет, фасон и фактура — на ваш вкус
          </div>

          <div class="slider">
            <div class="slide">
              <form class="produce-form" action="zayavka.php" method="POST">
                <span class="produce-form-name">
                  Получить подробный каталог авторской обуви с ценами уже через 15 сек
                </span>
                <img src="/assets/shoes/images/mackup.jpg" alt="">
                <input class="sell-form-inpt" type="text" name="email" placeholder="Введите E-mail">
                <input class="sell-form-inpt" type="text" name="phone" placeholder="Введите телефон">
                <button class="produce-form-btn" name="call-control">Получить каталог за 15 сек</button>
                <span class="produce-afterwords">Заполнение заявки вас ни к чему не обязывает!</span>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-catalog" id="src1">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>Эксклюзивные модели</h4>
        </div>
        <div class="row">
          <span class="main-catalog-text">Для людей с великолепным вкусом</span>
        </div>

        <div class="main-catalog-content" id="userdata">

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-1_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-1.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби<br>Верх - натуральная кожа<br>Подошва - vibram morflex <br>Крепление подошвы - клеевая</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ВМ-1</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-2_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-2.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби-броги <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">БР-8</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-3_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-3.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Кеды <br>Верх - натуральная кожа <br>Подошва - ТЭП <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">КЕ-8</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-4_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-4.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Лоферы <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ЛО-4</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-5_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-5.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ДЕ-9</span>
                </div>
              </div>

            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-6_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-6.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Ботинки<br>Верх - натуральная кожа<br>Подошва - кожаная<br>Каблук - кожаный наборный<br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">БО-13</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-7_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-7.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Оксфорды <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ОК-3</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-8_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-8.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Кеды <br>Верх - натуральная кожа <br>Подошва - ТЭП <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">КЕ-2</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-9_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-9.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Цельнокроеные оксфорды <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ОК-7</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-10_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-10.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ДЕ-10</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-11_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-11.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Цельнокроеные оксфорды <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ОК-13</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-12_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-12.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Ботинки <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">БО-9</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-13_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-13.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Цельнокроеные оксфорды <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ОК-14</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-14_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-14.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ДЕ-5</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-15_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-15.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Монки <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">МО-1</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-16_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-16.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби-броги <br>Верх - натуральная кожа <br>Подошва - кожаная <br> Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">БР-4</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-17_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-17.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Дерби <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">ДЕ-6</span>
                </div>
              </div>
            </div>
          </div>

          <div class="catalog-item">
            <div class="img">
              <a class="gallery" href="img/model/s-18_z.jpg">
                <img class="item-img" src="/assets/shoes/images/model/s-18.jpg">
              </a>
            </div>
            <div class="catalog-item-bottom">
              <span class="catalog-item-text">Челси <br>Верх - натуральная кожа <br>Подошва - кожаная <br>Каблук - кожаный наборный <br>Крепление подошвы - прошивная</span>
              <div class="catalog_b">
                <a href="#form" name="modal" data-buttonname="заказать" class="catalog-item-link">Хочу такую пару</a>
                <div class="art-row">
                  <span class="art-text">Артикул</span>
                  <span class="art-number">БО-6</span>
                </div>
              </div>
            </div>
          </div>

        </div>

        <form class="catalog-form" action="" method="POST">
          <input class='loc' type="hidden" name="loc" value="Заполните заявку и мы перезвоним">
          <span class="call_pop_h">Получить каталог сейчас</span>
          <input class="for_call" name="name" placeholder="Введите имя">
          <input class="for_call" name="phone" placeholder="Введите телефон">
          <button button="sumbit" name="call-control" class="call_btn">получить каталог</button>
        </form>
      </div>
    </div>
  </div>

  <div class="personal">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>

        <div class="row">
          <h4>Вашу идеальную обувь создают...</h4>
        </div>

        <div class="row">
          <span class="main-catalog-text">Независимо от цвета и фактуры</span>
        </div>

        <div class="personal-block">
          <img class="personal-photo" src="/assets/shoes/images/alex-portret.jpg" alt="">
          <div class="personal-info">
            <span class="person-name">Алексей</span>
            <span class="person-time">Опыт в пошиве обуви 5 лет</span>
            <span class="person-text">«Готов ответить на ваши вопросы! Так же смогу подобрать любой вариант под ваш стиль!»</span>
            <a href="#form" name="modal" data-formname="Заказать консультацию с Алексеем" data-buttonname="Заказать консультацию" class="person-quesion">Задать вопрос Алексею</a>
          </div>
        </div>
        <div class="personal-block">
          <img class="personal-photo" src="/assets/shoes/images/gor-portret.jpg" alt="">
          <div class="personal-info">
            <span class="person-name">Александр</span>
            <span class="person-time">Опыт в пошиве обуви 10 лет</span>
            <span class="person-text">Пошито более 1000 пар <br>Исключительно ручная работа <br>с применение классических, <br>проверенных временем и опытом, методов пошива.</span>
            <a href="#form" name="modal" data-formname="Заказать консультацию с Александром" data-buttonname="Заказать консультацию" class="person-quesion">Задать вопрос Александру</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="problems" id="src2">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>5 основных проблем при выборе обуви</h4>
        </div>
        <div class="row">
          <ul class="problems__list">
            <li>1. У вас нестандартный или большой размер стопы</li>
            <li>2. При носке обуви возникает усталость, дискомфорт и нога не дышит</li>
            <li>3. Вам понравилась модель, но нет в наличии желаемого цвета</li>
            <li>4. Некачественные материалы, вследствие обувь служит Вам короткий период времени</li>
            <li>5. Нет желаемой модели</li>
          </ul>
          <ul class="problems__list last">
            <li>1. Обувь шьется исключительно по вашим индивидуальным меркам <br>Размерный ряд от 39 до 49</li>
            <li>2. Конструкция сборки обуви позволяет устранить все неприятные моменты</li>
            <li>3. Подберем для вас любой оттенок обуви</li>
            <li>4. При правильно уходе за обувью засчет качественных материалов нашу обувь можно носить до 10 лет</li>
            <li>5. Большой выбор моделей, для любого гардероба</li>
          </ul>
        </div>
        <div class="row">
          <a href="files/Преимущества.pdf" class="pdf" target="_blank">Узнать все преимущества нашей мастерской</a>
        </div>
      </div>
    </div>
  </div>

  <div class="how-to-produce" id="src3">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>Как шьется обувь-шедевр</h4>
        </div>

        <div class="produce-outer">
          <div class="produce-left">
            <div class="produce-info-row">
              <div class="produce-time">
                <span class="produce-inner-time produce-now">1</span>
              </div>
              <span class="produce-info-text">
                Выбираете понравившуюся модель / цвет. <br>
                Выбираете любой понравившийся натуральный материал. <br>
                Мастер обсуждает с Вами возможные варианты относительно исполнения,
                материалов и ваши пожелания.
              </span>
            </div>

            <div class="produce-info-row">
              <div class="produce-time">
                <span class="produce-inner-time produce-now">2</span>
              </div>
              <span class="produce-info-text">
                Снимаете точные мерки с вашей ноги<br>
                мы проверяем правильность.<br>
              </span>
            </div>

            <div class="produce-info-row">
              <div class="produce-time">
                <span class="produce-inner-time produce-now">3</span>
              </div>
              <span class="produce-info-text">
                При правильном снятии вы <br>
                вносите 100% оплаты за обувь.
              </span>
            </div>

            <div class="produce-info-row">
              <div class="produce-time">
                <span class="produce-inner-time produce-now">4</span>
              </div>
              <span class="produce-info-text">
                Производим пошив макета обуви, <br>
                отправляем Вам для примерки.
              </span>
            </div>

            <div class="produce-info-row">
              <div class="produce-time">
                <span class="produce-inner-time produce-now">5</span>
              </div>
              <span class="produce-info-text">
                По вашим ощущениям мы<br>
                вносим коррективы, если<br>
                требуется, отшиваем основную <br>
                пару обуви, отправляем Вам<br>
                курьерской доставкой.
              </span>
            </div>
          </div>

          <div class="produce-right">
            <form class="produce-form" action="zayavka.php" method="POST">
              <span class="produce-form-name">
                Или просто оставляете заявку <br>
                на бесплатную консультацию
              </span>
              <input class="produce-form-inpt" name="number">
              <button class="produce-form-btn" name="call-control">Проконсультироваться</button>
              <span class="produce-afterwords">Это бесплатно, перезвоним через 15 минут!</span>
            </form>
            <span class="produce-right-text">
              Размеры обуви, которую<br>
              мы изготавливаем от 39 до 49
            </span>
          </div>
        </div>

        <div class="produce-gallery">
          <span class="produce-gallery-h">Фотографии изготовления обуви</span>
          <div class="produce-gallery-body">
            <div class="gallery-slide gs1">
              <span class="gallery-text">Бумажная деталировка</span>
            </div>
            <div class="gallery-slide gs2">
              <span class="gallery-text">Крой деталей верха(верх+подкладка)</span>
            </div>
            <div class="gallery-slide gs3">
              <span class="gallery-text">Затяжка</span>
            </div>
            <div class="gallery-slide gs4">
              <span class="gallery-text">Прошивка подошвы</span>
            </div>
            <div class="gallery-slide gs5">
              <span class="gallery-text">Покраска</span>
            </div>
            <div class="gallery-slide gs6">
              <span class="gallery-text">Полировка</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sell-block">
    <div class="content">
      <div class="box">
        <div class="row">
          <h4>Как все начиналось...</h4>
        </div>
        <div class="row">
          <img class="sell-man" src="/assets/shoes/images/man.png" alt="">
          <div class="sell-block-text">
            Пять лет назад я столкнулся с проблемой выбора качественной обуви, которая <b>будет отлично сидеть на ноге, не возникнет проблема выбора цветового решения, стопа в ней будет дышать и служить Вам долгие годы.</b> Я начал изучать как шьется
            обувь, из каких этапов состоит процесс пошива, технологии и конструкции. Это сформировало во мне полноценное представление о индивидуальном пошиве обуви. Я решил заняться пошивом обуви на заказ, при котором человек решает все свои
            проблемы при выборе обуви. Наше производство находится в Санкт-Петербурге, создавая уникальный продукт и воплощая в жизнь самые смелые идеи. Специализируемся на пошиве мужской классической обуви, а так же нэоклассики. <b>Только
              натуральные материалы, кожа высочайших сортов</b> (Италия, Германия, Франция). Исключительно ручная работа с применение классических, проверенных временем и опытом, методов пошива. Консерваторы в своем деле. Неповторимый стиль во многом
            определяется за счет нововведений в области покраски и в целом дизайна обуви. Индивидуальный подход к каждому клиенту.
            <br>
            <b>Существуют три главных критерия при выборе обуви: это удобная колодка, качественные материалы и дизайн.</b> Наши колодки адаптированы под российскую стопу, что в свою очередь создает комфорт и отсутствие усталости при эксплуатации
            обуви. Качественные материалы из Европы, большой выбор моделей, уникальность того, что ваша пара будет в единственном экземпляре под конкретный ваш запрос создаст особенный смысл и понимание выбора обуви на заказ.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4 class="history-h">История одной пары</h4>
          <span class="history-text">Видео + фото</span>
          <div class="video-wrapper ">
            <iframe width="100%" height="415" src="https://www.youtube.com/embed/aOoJem5B9qM" frameborder="0" allowfullscreen=""></iframe>
          </div>
        </div>
        <div class="row">
          <ul class="bxslider">
            <li><img src="/assets/shoes/images/slider/slide-1.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-2.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-3.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-4.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-5.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-6.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-7.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-8.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-9.jpg" /></li>
            <li><img src="/assets/shoes/images/slider/slide-10.jpg" /></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="measurements" id="src4">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>Как снять мерки для обуви</h4>
        </div>
        <div class="row">
          <div class="measurements-outer">
            <div class="measurements-block">
              <a href="img/content/measurements/1_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/1.jpg" alt="">
              </a>
            </div>
            <div class="measurements-block">
              <a href="img/content/measurements/2_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/2.jpg" alt="">
              </a>
            </div>
            <div class="measurements-block">
              <a href="img/content/measurements/3_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/3.jpg" alt="">
              </a>
            </div>
            <div class="measurements-block">
              <a href="img/content/measurements/4_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/4.jpg" alt="">
              </a>
            </div>
            <div class="measurements-block">
              <a href="img/content/measurements/5_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/5.jpg" alt="">
              </a>
            </div>
            <div class="measurements-block">
              <a href="img/content/measurements/6_z.jpg" class="gallery" rel="gallery1">
                <img src="/assets/shoes/images/content/measurements/6.jpg" alt="">
              </a>
            </div>
          </div>

          <div class="measurements-black-box">
            <span class="measurements-text">
              Сроки изготовления от 7 до 30 дней.
              <ul>
                <li>Мерки замеряются другим человеком, замеряемый стоит, чтоб вся нагрузка была на ноги.</li>
                <li>Если вы сами будете замерять, у вас не получится, а следовательно, вы присядите и будут некорректные замеры.</li>
                <li>Мерки снимаются обязательно портновским метром, </li>
                <li>вовремя обвода стопы держите предмет, которым обводите, строго перпендикулярно листу.</li>
                <li>Мерки снимать с 2 стоп обязательно, так как могут быть различия.</li>
                <li>Обмер производится 3 раза, чтобы прийти к одним параметрам.</li>
                <li>Вовремя обвода стопы по контуру, как по инструкции, пусть обведут еще по внутреннему контуру пятки, где граница пятки касается бумаги…</li>
                <li>Высылаете фото двух стоп с приложенной линейкой, фото с метром на пучках и подъемах (как на примерах выше).</li>
                <li>Метр не перетягивайте и не добавляйте лишних миллиметров при обводе стопы. </li>
                <li>Также требуется для заказа указать город, адрес, индекс, телефон и имя фамилию по паспорту для отправки посылки.</li>
                <li>Доставка осуществляется транспортными компаниями.</li>
              </ul>
              Соблюдайте, пожалуйста, все пункты рекомендаций, так как правильность снятия мерок скажется при носке обуви.
            </span>
            <span class="measurements-end">Весь ассортимент материалов – В НАЛИЧИИ!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4 class="history-h">Отзывы из нашей группы ВК</h4>
          <span class="history-text">Фото и комментарии из группы ВК</span>
          <img src="/assets/shoes/images/content/o-1.jpg" alt="">
          <img src="/assets/shoes/images/content/o-2.jpg" alt="">
          <img src="/assets/shoes/images/content/o-3.jpg" alt="">
          <img src="/assets/shoes/images/content/o-4.jpg" alt="">
        </div>
      </div>
    </div>
  </div>

  <div class="materials">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>Качество и долговечность</h4>
        </div>
        <div class="row">
          <div class="materials-outer">
            <div class="material-block">
              <span class="material-name">Телячья кожа</span>
            </div>
            <div class="material-block mat2">
              <span class="material-name">Кожа краст</span>
            </div>
            <div class="material-block mat3">
              <span class="material-name">Замша</span>
            </div>
            <div class="material-block mat4">
              <span class="material-name">Фактурная кожа<br>Имитация крокодила, питона, страуса</span>
            </div>
            <div class="material-block mat5">
              <span class="material-name">Нубук</span>
            </div>
            <div class="material-block mat6">
              <span class="material-name">Лакированная кожа</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="material-black-box">
            <span class="material-text">
              Страна изготовитель материалов СТРОГО: Италия, Германия
              <br>Цвет кожи будет сохраняться годами!
            </span>
            <span class="material-end">Весь ассортимент материалов – В НАЛИЧИИ!</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="sertificate-gift">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4>Подарите истинную красоту и комфорт</h4>
        </div>
        <div class="row">
          <span class="gift-text">
            <br><br>
            У нас вы можете приобрести подарочный <br>
            сертификат на любую сумму. <br>
            <!--Приезжайте к нам в мастерскую, или мы доставим <br>
	                    сертификат курьером.-->
          </span>


          <div class="sert-col">
            <img src="/assets/shoes/images/content/sertificat.jpg" alt="" width="450">
            <a href="#form" data-formname="Заказать подарочный сертификат<br> на 5000 руб" data-buttonname="заказать" name="modal" class="person-quesion">Заказать сертификат</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="history">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <h4 class="history-h">Как мы упаковываем обувь</h4>
          <span class="history-text">Ваша обувь придет к Вам в вот такой упаковке</span>
          <img src="/assets/shoes/images/content/upak.jpg" alt="">

        </div>
      </div>
    </div>
  </div>

  <div class="last-frame">
    <div class="content">
      <div class="box">
        <div class="row">
          <div class="square"></div>
        </div>
        <div class="row">
          <form class="question-form" action="zayavka.php" method="POST">
            <span class="questin-form-name">ОСТАЛИСЬ ВОПРОСЫ?</span>
            <span class="questin-form-text">
              Введите свой телефон
              <br>и получите консультацию специалиста
              <br>в течение 3-х часов!
            </span>
            <span class="question-row question-pre-inpt">Ваш вопрос:</span>
            <textarea name="question" class="question-row area-inpt">					</textarea>
            <span class="question-row question-pre-inpt">Ваш телефон:</span>
            <input class="question-row qustion-inpt" name="number">
            <button name="call-control" class="question-row question-btn">Получить консультацию</button>
            <span class="question-row question-qestion-poitics">
              Мы заботимся о вашей конфиденциальности!
              <br>ваши данные не будут переданы третьим лицам!
            </span>
          </form>
        </div>
      </div>
    </div>

    <footer>
      <div class="content">
        <div class="box">
          <div class="row center">
            <a class="totop anch" href="#top">Наверх</a>
          </div>
          <div class="logo-col">
            <img src="/assets/shoes/images/logo.png" width="200" alt="">
            <!--<span class="logo-name">Baker Street</span>
	                    <span class="logo-text">Пошив обуви на заказ<br/>Россия</span>-->
          </div>
          <div class="footer-mid">
            <span>
              Встреча в шоу-руме для жителей Москвы.<br>
              Вы можете приехать в шоу-рум и наш консультант снимет с вас мерки, ознакомит с каталогом моделей и подберёт для вас идеальный вариант модели.<br>
              Адрес: Москва, Смоленский бульвар, дом 17, корпус 6
            </span>
          </div>

          <div class="contact-col">
            <span class="contact-line1">Есть вопросы? Звоните:<br>(whatsapp/viber)</span>
            <span class="contact-phone">8(922)782-80-31</span>
            <span class="contact-line1">Часы работы: пн-вс 9:00 – 21:00</span>

            <a href="#form" name="modal" data-formname="Заказать бесплатный звонок" data-buttonname="Заказать" class="header-call-btn">Позвоните нам бесплатно</a>
            <span class="contact-mail">
              <a href="mailto:bakerstreet-shoes@yandex.ru">bakerstreet-shoes@yandex.ru</a>
            </span>
          </div>
        </div>
      </div>
    </footer>
  </div>

  <div id="boxes">
    <div id="form" class='window'>
      <form class="call_pop" action="" method="POST">
        <input class='loc' type="hidden" name="loc" value="Узнать цену пары">
        <span class="call_pop_h">Чтобы узнать цену этой пары оставьте заявку</span>
        <input class="for_call" name="name" placeholder="Введите имя">
        <input class="for_call" name="phone" placeholder="Введите телефон">
        <input class="for_call" name="email" placeholder="Введите e-mail">
        <button button="sumbit" name="call-control" class="call_btn">узнать цену</button>
        <span class="produce-afterwords">Наш менеджер отправит Вам прайс-лист <br>на вашу почту через 20 секунд</span>
      </form>
    </div>
  </div>
  <div id="mask"></div>

  <div class="hidden"></div>

  <!--[if lt IE 9]>
	<script src="libs/html5shiv/es5-shim.min.js"></script>
	<script src="libs/html5shiv/html5shiv.min.js"></script>
	<script src="libs/html5shiv/html5shiv-printshiv.min.js"></script>
	<script src="libs/respond/respond.min.js"></script>
	<![endif]-->


  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="/assets/shoes/scripts/instafeed.min.js"></script>
  <script type="text/javascript" src="/assets/shoes/scripts/jquery.fancybox.js"></script>
  <script type="text/javascript" src="/assets/shoes/scripts/jquery.fancybox.pack.js"></script>
  <script type="text/javascript" src="/assets/shoes/scripts/jquery.bxslider.min.js"></script>
  <script type="text/javascript" src="/assets/shoes/scripts/mask.js"></script>
  <script src="/assets/shoes/scripts/common.js"></script>
</body>

</html>
